.certicate_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    padding: 5rem;
    text-align: center;
    gap: 1rem;
    
}


.h3{
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.h4{
        display: flex;
    
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
}


.img{
    width: 50rem;
    height: 30rem;
    margin: 3rem;
}