.h3 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container {
    margin: 2rem;
} */

.main_div {
    display: flex;
    justify-content: center;
    align-items: centrer;
    /* flex-direction: column; */
    margin: 5rem;
}


.leftPart {
    overflow-x: hidden;

}

/* 
.rightPart {

} */


.img {
    display: flex;
    align-items: centrer;
    justify-content: center;
    width: 63rem;
    height: 36rem;
    /* border: 1px solid gray; */
}


.line {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;

}

.small {
    font-size: 2rem;

}

.big {
    font-size: 3rem;
}

.hr {
    color: gray;
}


.features {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}


@media (max-width : 320px) {}



@media (min-width : 320px) and (max-width : 480px) {}

@media (min-width : 481px) and (max-width : 768px) {}

@media (min-width : 769px) and (max-width : 1023px) {}


@media (min-width : 1024px) and (max-width : 1200px) {}


@media (min-width : 1201px) {

    .main_div {
        flex-direction: row;
    }

    .leftPart {
        width: 65%;

    }

    .rightPart {
        width: 35%;
        border: 2px solid gray;
        margin: 2rem;

    }
}