.h3 {
    font-size: 3rem;
}

.h4 {
    font-size: 2rem;
}


.p {
    font-size: 1.5rem;
}

.main_div {
    display: flex;
    margin: 5rem;
}


.leftPart {
    width: 65%;

}

.about_section {
    padding: 2rem;
}

.learn {
    display: flex;
    flex-direction: column;
}

.cont {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cont div ul {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

}

.rightPart {
    margin-left: 2rem;
    width: 35%;
    background-color: #f7f9fa;

}

.right_courses {
    /* display: flex; */
    flex-direction: column;
    gap: 0.2rem;
}

.right_courses ul {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.right_highlights {
    /* display: flex; */
    flex-direction: column;
    gap: 0.2rem;
}

.right_highlights ul {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.timing {
    /* display: flex; */
    flex-direction: column;
    gap: 0.2rem;
}

.timing ul {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}


.req {
    /* display: flex; */
    flex-direction: column;
    gap: 0.2rem;
}

.req ul {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}


.tag {
    gap: 0.2rem;
}

.tag span {
    display: flex;
    border-radius: 5rem;
    font-size: 1.5rem;
    border: 1px solid gray;
    width: fit-content;
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;

}

.img {
    display: flex;
    align-items: centrer;
    justify-content: center;
    width: 63rem;
    height: 36rem;
    /* border: 1px solid gray; */
}


.line {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;

}

.small {
    font-size: 2rem;

}

.big {
    font-size: 3rem;
}

.hr {
    color: gray;
}


.features {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}

.smallLogo {
    height: 2rem;
    width: 2rem;
}


@media (max-width : 320px) {

    .main_div {
        flex-direction: column;
    }

    .rightPart {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 2rem;
        margin: 3rem;

    }

    .leftPart {
        width: auto;
        margin: 3rem;
        padding: 2rem;
    }

}



@media (min-width : 320px) and (max-width : 480px) {

    .main_div {
        flex-direction: column;
    }

    .rightPart {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 2rem;
        margin: 3rem;

    }

    .leftPart {
        width: auto;
        margin: 3rem;
        padding: 2rem;
    }

}

@media (min-width : 481px) and (max-width : 768px) {

    .main_div {
        flex-direction: column;
    }

    .rightPart {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 2rem;
        margin: 3rem;

    }

    .leftPart {
        width: auto;
        margin: 3rem;
        padding: 2rem;
    }

}

@media (min-width : 769px) and (max-width : 1023px) {

    .main_div {
        flex-direction: column;
    }

    .rightPart {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 2rem;
        margin: 3rem;

    }

    .leftPart {
        width: auto;
        margin: 3rem;
        padding: 2rem;
    }

}


@media (min-width : 1024px) and (max-width : 1200px) {

    .main_div {
        flex-direction: column;
    }

    .rightPart {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 2rem;
        margin: 3rem;

    }

    .leftPart {
        width: auto;
        margin: 3rem;
        padding: 2rem;
    }


}


@media (min-width : 1201px) {}